<div class="hero-page">
	<header class="hero-page__header">
		<div class="hero-page__header-container">
			<app-logo />
		</div>
	</header>

	<div class="hero-page__content">
		<h1 class="hero-page__title">
			Фундаментальный курс <br class="hero-page__br" />
			по <span class="hero-page__accent">Frontend</span> разработке
			<span class="hero-page__nowrap">от А до Я</span>
		</h1>
		<p class="hero-page__subtitle">
			Cистемный подход, позволяющий освоить сложные концепты и закрепить их на реальных задачах.
		</p>
		<div class="hero-page__actions">
			<a app-button [routerLink]="frontendRoute" size="xl" color="primary" class="hero-page__start-btn">
				Начать обучение
			</a>
		</div>
	</div>
</div>
