<div class="article-block-complexity">
	<dl class="article-block-complexity__grid">
		<div class="article-block-complexity__card">
			<dt class="article-block-complexity__card-label">Временная сложность</dt>
			<dd class="article-block-complexity__card-value">{{ data().time }}</dd>
		</div>
		<div class="article-block-complexity__card">
			<dt class="article-block-complexity__card-label">Пространственная сложность</dt>
			<dd class="article-block-complexity__card-value">{{ data().space }}</dd>
		</div>
	</dl>
	@if (data().description) {
		<p class="article-block-complexity__description">{{ data().description }}</p>
	}
</div>
