:host {
	display: block;
}

.drawer-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-modal-backdrop);
	width: 100vw;
	height: 100vh;
	background-color: rgb(0 0 0 / 20%);
	animation: drawer-fade-in var(--transition-fast) forwards;
	backdrop-filter: blur(2px);
}

.drawer-panel {
	position: fixed;
	top: 0;
	right: 0;
	z-index: var(--z-modal);
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 26rem;
	height: 100vh;
	background-color: var(--bg-card);
	box-shadow: var(--shadow-md);
	transition: transform var(--transition-base);
	border-left: 1px solid var(--border-light);
	transform: translateX(100%);

	&--open {
		transform: translateX(0);
	}

	&__close {
		position: absolute;
		top: var(--unit-4);
		left: var(--unit-4);
		z-index: var(--z-elevate);
		font-size: var(--font-size-base);
		color: var(--text-secondary);

		&--left {
			right: auto;
			left: var(--unit-4);
		}

		&--right {
			right: var(--unit-4);
			left: auto;
		}
	}

	&__header {
		display: flex;
		flex-direction: column;
		padding: var(--unit-6) var(--unit-6);
	}

	&__content {
		flex-grow: 1;
		padding: var(--unit-6);
		overflow-y: auto;
		scrollbar-width: thin;
		scrollbar-color: var(--text-muted) transparent;

		&::-webkit-scrollbar {
			width: var(--unit-1);
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--text-muted);
			border-radius: var(--radius-full);

			&:hover {
				background-color: var(--text-secondary);
			}
		}
	}
}

@keyframes drawer-fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
