@if (isOpen()) {
	<div class="drawer-backdrop" (click)="close()" aria-hidden="true"></div>
}

<aside class="drawer-panel" [class.drawer-panel--open]="isOpen()" [attr.aria-hidden]="!isOpen()" role="dialog">
	@if (showCloseBtn()) {
		<button
			app-button
			type="button"
			variant="clear"
			color="default"
			size="s"
			(click)="close()"
			class="drawer-panel__close"
			[class.drawer-panel__close--left]="closeBtnPosition() === 'left'"
			[class.drawer-panel__close--right]="closeBtnPosition() === 'right'"
			aria-label="Закрыть панель"
		>
			<app-icon [name]="'xmark'" size="l" />
		</button>
	}

	<header class="drawer-panel__header">
		<ng-content select="[drawer-header]"></ng-content>
	</header>

	<main class="drawer-panel__content">
		<ng-content></ng-content>
	</main>
</aside>
