@use 'media' as m;

:host {
	display: block;
	width: 100%;
}

.header {
	position: relative;
	z-index: var(--z-elevate);
	width: 100%;
	background-color: transparent;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: var(--container-xxl);
		height: var(--unit-16);
		margin: 0 auto;
		padding: 0 var(--unit-8);

		@include m.media-below('lg') {
			padding: 0 var(--unit-4);
		}
	}
}
