@use 'media' as m;

:host {
	display: block;
	width: 100%;
}

.header-top {
	display: flex;
	gap: var(--unit-4);
	justify-content: space-between;
	align-items: center;
	padding-bottom: var(--unit-4);

	@include m.media-below('lg') {
		gap: var(--unit-2);
		padding-bottom: var(--unit-2);
	}
}

.title {
	margin: 0;
	font-size: var(--font-size-xxl);
	font-weight: var(--font-weight-medium);
	color: var(--text-primary);

	@include m.media-below('lg') {
		font-size: var(--font-size-lg);
	}
}

.duration {
	display: flex;
	flex-shrink: 0;
	gap: var(--unit-2);
	align-items: center;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-medium);
	color: var(--status-success);
	white-space: nowrap;

	@include m.media-below('lg') {
		font-size: var(--font-size-xs);
	}
}

.description {
	margin: 0;
	font-size: var(--font-size-sm);
	line-height: var(--line-height-relaxed);
	color: var(--text-muted);

	@include m.media-below('lg') {
		font-size: var(--font-size-xs);
	}
}
