<div class="lesson-content">
	<div class="lesson-content__main">
		<app-lesson-header [lesson]="lesson()" />
		<app-video-player [src]="videoUrl()" />

		<div class="lesson-content__actions">
			<app-mark-lesson-watched
				[lessonId]="lesson().id"
				[isCompleted]="lesson().isCompleted"
				(toggleComplete)="toggleComplete.emit($event)"
			/>
		</div>
	</div>

	<div class="lesson-content__next">
		<app-lesson-navigation-controls [nextLesson]="nextLesson()" (nextLessonSelect)="selectLesson.emit($event)" />
	</div>
</div>
